body {
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #313131;
}

#logo {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 4px;
    border-bottom: 2px solid #ccc;
}

td.product-name {
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: none;
}

td.product-type {
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    border-bottom: none;
}

td.product-color {
    padding-left: 20px;
}

td.bold {
    font-weight: bold;
}

.no-border td {
    border-bottom: none;
}

.comment{
    font-size: 24px;
}

.group-summary{
    padding: 8px 12px;
    background-color: #e5e5e5;
}